.App {
  text-align: center;
}
.cosmetics{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:15px;
  
}
.cosmetic{
  border:1px solid firebrick;
  background-color:lightskyblue;
}
.cosmetic h2{
  color:indianred;
}
.cosmetic h3{
  color:lightsalmon;
}
.button ,.button2{
  background-color: maroon;
  color:moccasin;
  padding: 10px;
  border:1px solid hotpink;
  border-radius: 5px;
  margin-right: 5px;
}

